{# Attachments dropdown shown on object detail pages when create_add_button is enabled #}
{% if perms.netbox_attachments.add_netboxattachment or perms.netbox_attachments.add_netboxattachmentassignment %}
    {% if object_type_attachment_list %}
        {% url object_type_attachment_list pk=object.pk as attachment_return_url %}
    {% endif %}
    <div class="btn-group" role="group">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-paperclip" aria-hidden="true"></i>
            Attachments
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            {% if perms.netbox_attachments.add_netboxattachment %}
                <li>
                    <a class="dropdown-item"
                       href="{% url 'plugins:netbox_attachments:netboxattachment_add' %}?object_type={{ object|content_type_id }}&object_id={{ object.pk }}&return_url={% firstof attachment_return_url request.path %}">
                        <i class="mdi mdi-plus-thick" aria-hidden="true"></i>
                        Add Attachment
                    </a>
                </li>
            {% endif %}
            {% if perms.netbox_attachments.add_netboxattachmentassignment %}
                <li>
                    <a class="dropdown-item"
                       href="{% url 'plugins:netbox_attachments:netboxattachment_link' %}?object_type={{ object|content_type_id }}&object_id={{ object.pk }}&return_url={% firstof attachment_return_url request.path %}">
                        <i class="mdi mdi-link-variant" aria-hidden="true"></i>
                        Link Existing
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
